.popup__cnt {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.338);
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &--box {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    // height: 350px;
    overflow-y: auto;
  }
}

mat-form-field {
  width: 100%;
}
